* {
  font-family: 'Manrope', sans-serif;
}

html, body, #app {
  height: 100%;
}

.page {
  padding: 20px 16px;
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.main {
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.auth {
  height: 100%;

  .login__header {
    padding: 58px 0 32px 0;
    @include pageTitle;
  }
}

.login {
  display: flex;
  flex-direction: column;
}

.v-overlay__content {
  display: flex;
  align-items: center;
}

.v-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 159px;
  border-radius: 20px !important;

  h2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    color: #000000;
    margin-top: 13px;
  }
}

.container {
  height: 100%;
}

.page__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

input::placeholder {
  text-align: start !important;
}

.page__menu {
  overflow-x: auto;

  .page__menu__item {
    padding-top: 28px;
    padding-bottom: 11px;
    position: relative;
    width: 94px;
    background-color: white;
    text-align: center;

    span {
      font-weight: 600;
      font-size: 15px;
      display: block;
      line-height: 18px;
      color: #8E8E93 !important;
    }
  }

  .active__route {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: $blue;
    }
  }

  border-bottom: 1px solid #F2F2F7;
}

.vip__block {
  border: 1px solid #E5E5EA;
  border-radius: 16px;

  .block__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  .block {
    &__image {
      img {
        margin: 0 auto;
        display: block;
        height: 160px;
      }
    }

    &__content {
      &__count {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: black;

        span {
          color: $blue;
          font-size: 14px;
        }
      }

      &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #8E8E93;
      }
    }
  }
}

.noStatement {
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $gray;
  }
}

.tags {
  .tag {
    margin-right: 8px;
    margin-bottom: 8px;
    background: #F2F2F7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 4px 10px;
  }

  .green {
    background: $green;
  }

  .purple {
    background: $purple;
  }
}

.product__page {
  position: relative;

  .fixed__tools {
    z-index: 3;
    width: 100%;
    left: 0;
    top: 30px;
  }

  img {
    width: 100%;
    height: 267px;
  }

  .product__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .product__price {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  .product__location {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #000000;
  }

  .product__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }

  .product__author {
    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }

    .author__name {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
  }

  .published__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #8E8E93;
  }

  .product__body {
    border-bottom: 1px solid $gray;
  }

  .more__products {
    h4, span {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: black;
    }

    span {
      color: $blue;
    }
  }
}

.user__profile {
  img {
    width: 56px;
    height: 56px;
  }

  .user__name {
    font-weight: 600;
    font-size: 17px;
    color: black;
    line-height: 24px;
  }

  .user__phoneNumber {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #8E8E93;
  }

  .user__avatar {
    border-bottom: 1px solid #F2F2F7;
  }
}

.profile__block {
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F2F2F7;;

  .block__title {
    color: black;
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-left: 12px;
  }
}

.logout {
  .block__title {
    color: $red;
  }
}

.account {
  padding-bottom: 50px;

  button {
    margin-top: 76px;
  }
}

.account__avatar {
  margin: 16px auto;
  position: relative;

  img {
    border-radius: 50%;
    width: 94px;
    height: 94px;
  }
}

.text__content {
  h4 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__content {
    padding-bottom: 54px;

    h5 {
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
  transition: 0.5s;
  animation: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.togglePanel {
  z-index: 2;
  background: #FFFFFF;
  min-height: 234px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 70%;
  overflow-y: hidden;
  border-radius: 12px 12px 0px 0px;
}

.cards {
  .card {
    border: 1px solid #D1D1D6;
    border-radius: 8px;

    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: black;
    }
  }
}

.add__newCard {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding: 20px 16px;

  .new__card {
    label {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #1B1B1B;
    }

    .ccv, .date {
      input {
        width: 100%;
      }
    }

    .cardInput {
      border: 1px solid #D1D1D6;
      border-radius: 12px;

      input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #8E8E93;

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}

.createPanel {
  overflow-y: auto;
  background: #FFFFFF;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  .v-field--dirty {
    border: 1px solid #D1D1D6 !important;
  }
}

.category__selection {
  position: relative;
  height: 100%;

  .card {
    border-top: 1px solid #F2F2F7 !important;

    &:last-child {
      border-bottom: 1px solid #F2F2F7;
    }
  }
}

.return__back {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #007AFF;

  &:last-child {
    visibility: hidden;
  }
}

.searchEngine {
  border: 1px solid #D1D1D6;
  border-radius: 12px;

  input {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    line-height: 22px;
    color: black;

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.purple {
  background: $purple;
}

.gray {
  background: #F2F2F7;
}

.hashtags__list {
  .list__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: black;
  }

}

.hashtag__container {
  border: 1px solid #D1D1D6;
  border-radius: 12px;
  margin-top: 8px;
  padding: 11px 7px;
  min-height: 50px;
}

.hashtag__item {
  border-radius: 10px;
  padding: 4px;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.fill-width {
  width: 100%;
}

.modal__body {
  height: 220px;
}

.hashtagModal {
  height: 100%;
  min-width: 325px;

  h4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }

  .save {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #007AFF;
  }

  &__input {
    border-bottom: 1px solid #2580D5;
    padding: 6px 0 6px 6px;

    div {
      height: 32px;
    }

    input {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #1B1B1B;

      &::placeholder {
        color: #D1D1D6;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.myBalls {
  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F28E00;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2580D5;
  }
}

.v-carousel__controls {
  background: none;
  height: 25px;

  img {
    width: 100%;
  }

  button {
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.3);
    height: 8px !important;
    width: 8px !important;
  }

  .v-btn--active {
    background: white !important;
  }
}

.image__preview {
  background: black;

  .v-overlay__content {
    height: 100%;
    width: 100%;

  }

  img {
    width: 100%;
  }

  svg {
    path {
      stroke: white;
    }
  }
}

.reverse__style {
  color: $blue;
  background: white;
}