.the-input {
  .input__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include labelStyle;
  }
}

.v-field {
  border-radius: 12px;
  border: 1px solid $gray;
}

.v-field--dirty {
  border: 1px solid #2580D5 !important;
}

.imagePreviewWrapper {
  width: 83px;
  height: 83px;
  display: block;
  cursor: pointer;
  margin: 0 0 0 20px;
  background-size: cover;
  background-position: center center;
}

.v-field--error {
  border: 1px solid $red !important;
}

.v-field--variant-filled .v-field__overlay, .v-field__outline {
  display: none !important;
}

.v-input--error {
}

.v-field__input {
  padding: 13px 16px !important;
  font-weight: 400;
  text-align: start;
  font-size: 16px;
  line-height: 22px;
  min-height: unset !important;
}

a {
  text-decoration: none;
}

.btn-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  line-height: 24px;
  background: $blue;
  transition: 0.3s;

  img {
    height: 22px;
    width: 22px;
  }

  &:disabled {
    background: $gray;
  }
}

.dotted__label {
  text-align: center;
  position: relative;
  z-index: 1;

  span {
    z-index: 2;
    position: relative;
    padding: 0 14px;
    display: inline-block;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #C7C7CC;
  }

  &:after {
    top: 50%;
    transform: translateY(-50%) !important;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: $gray;
  }
}

.login__with {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: center;
  margin-top: 12px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #2580D5;
  border-radius: 12px;
  transition: 0.3s;

  .text {
    padding-left: 17px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: $blue;
  }

  &:hover {
    background: $blue;

    svg {
      path {
        fill: white;
      }
    }

    .text {
      color: white;
    }
  }
}

.register__btn {
  padding-bottom: 17px;
  padding-top: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E93;

  a {
    color: $blue;
  }
}

.v-text-field .v-input__details {
  padding: 0;
  min-height: unset;
}

.v-messages__message {
  padding-top: 9px;
  color: $red;
  min-height: unset;
}

.footer__menu {
  box-sizing: border-box;
  background: #FFFFFF;
  border-top: 0.5px solid rgba(60, 60, 67, 0.36);

  .menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      padding: 0 10px;
    }

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:last-child {
      padding: 0 0 0 10px;
    }

    .item__title {
      padding-top: 5px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      letter-spacing: -0.24px;
      color: #8E8E93;
    }
  }
}

.active__route {
  transition: all 0.3s;

  svg {
    path {
      stroke: $blue;
    }
  }

  .item__title {
    color: $blue !important;
  }
}

.chat__block {
  &__image {
    img {
      width: 56px;
      height: 56px;
      border-radius: 5px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #8E8E93;
    }
  }

  .chat__message__container {
    .message__title {
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      color: #1B1B1B;
    }

    .message__shortener {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #1B1B1B;
    }
  }

  .chat__date {
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: #8E8E93;
    }

    span {
      background: #007AFF;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 100%;
    }
  }
}

.chat__input {
  .input__detail {
    border: 1px solid #D1D1D6;
    border-radius: 12px;
  }

  button {
    background: #2580D5;
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  textarea {
    font-weight: 400;
    font-size: 16px;
    padding-right: 12px;
    resize: none;
    //height: 22px;
    max-height: 66px;
    line-height: 22px;
    color: black;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: #C7C7CC;
    }
  }
}

.chat__header {
  border-bottom: 1px solid #F2F2F7;
  width: 100%;

  .chat__block__image {
    img {
      width: 56px;
      height: 56px;
      border-radius: 5px;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
}

.glassBg {
  .v-card {
    width: 270px;
    position: relative;
    height: max-content;
  }

  .v-overlay__scrim {
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.04);
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 24px;
    letter-spacing: -0.078px;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: rgba(0, 0, 0, 0.96);
  }

  .actions {
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 69%;
      left: 0;
      width: 100%;
      height: 0.5px;
      background: rgba(0, 0, 0, 0.3);;
    }

    button {
      padding: 11px 0;
      text-align: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
    }

    .cancel {
      color: $blue;
      margin-left: 25px;

      &:after {
        position: absolute;
        content: "";
        right: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 54px;
        width: 0.5px;
        background: rgba(0, 0, 0, 0.3);;
      }
    }

    .delete {
      color: $red;
      margin-right: 25px;

    }
  }
}

.logoutModal {
  .actions {
    &:after {
      top: 63%;
    }

    .cancel {
      &:after {
        height: 54px;
      }
    }
  }
}

.myPoints {
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $orange;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #8E8E93;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }
}

.history__container {
  border-top: 1px solid #F2F2F7;
  border-bottom: 1px solid #F2F2F7;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $orange;
  }

  .date {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #8E8E93;
  }

  .point {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .empty__points {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8E8E93;
  }
}

.delete-button {
  background: transparent;
  color: $red;
}

.saved {
  transition: 0.3s;

  path {
    fill: $blue;
    stroke: $blue;
  }
}